version: '3.4'

services:
  mybuyinglist.web:
    image: ${DOCKER_REGISTRY-}mybuyinglistweb
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    build:
      context: .
      dockerfile: MyBuyingList/Dockerfile
    volumes:
      - ${APPDATA}/Microsoft/UserSecrets:/root/.microsoft/usersecrets:ro
      - ${APPDATA}/ASP.NET/Https:/root/.aspnet/https:ro
    secrets:
      - JwtSettings__SigningKey

  db:
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: mydatabase
      
secrets:
  JwtSettings__SigningKey:
    file: ./MyBuyingList/local/secrets/JwtSettings__SigningKey