version: '3.4'

services:
  mybuyinglist.web:
    image: ghcr.io/marcellusfarias/dotnet-webapi-template:latest
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
    volumes: 
      - certs:/root/.aspnet/https:ro
    secrets:
      - jwt_secret_key

  db:
    environment:
      POSTGRES_USER: /run/secrets/postgres_user
      POSTGRES_PASSWORD: /run/secrets/postgres_password
      POSTGRES_DB: /run/secrets/postgres_db
    secrets:
        - postgres_db
        - postgres_user
        - postgres_password

volumes:
  certs:

# Works only on swarm mode
secrets:
  jwt_secret_key:
    external: true
  postgres_db:
     external: true
  postgres_user:
     external: true
  postgres_password:
     external: true
     
networks:
  buyinglist-db:
    driver: overlay