version: '3.4'

services:
  api:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    build:
      context: .
      dockerfile: MyBuyingList/Dockerfile
    volumes:
        # Uncomment these volumes if you are using MacOS
        - ~/.microsoft/usersecrets:/root/.microsoft/usersecrets:ro
        - ~/.aspnet/https:/root/.aspnet/https:ro
        # Uncomment these volumes if you are using Windows
        #      - ${APPDATA}/Microsoft/UserSecrets:/root/.microsoft/usersecrets:ro
        #      - ${APPDATA}/ASP.NET/Https:/root/.aspnet/https:ro
        # Since no need for Swarm mode in development, we can use local folder for secrets
        - ./MyBuyingList/local/secrets/:/run/secrets/
    depends_on:
      - db
    networks:
      - db-network

  db:
    image: postgres:14
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: mydatabase
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "55432:5432"
    networks:
      - db-network

  db_admin:
    image: dpage/pgadmin4
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: root
    ports:
      - "5050:80"
    networks:
      - db-network
     
networks:
  db-network:
    driver: bridge
    
volumes:
  postgres_data: