version: '3.4'

services:
  api:
    image: ${DOCKER_REGISTRY-}mybuyinglistweb
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    build:
      context: .
      dockerfile: MyBuyingList/Dockerfile
    volumes:
      - ${APPDATA}/Microsoft/UserSecrets:/root/.microsoft/usersecrets:ro
      - ${APPDATA}/ASP.NET/Https:/root/.aspnet/https:ro
    secrets:
      - JwtSettings__SigningKey
    depends_on:
      - db
    networks:
      - db-network

  db:
    image: postgres:14
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: mydatabase
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "55432:5432"
    networks:
      - db-network

  db_admin:
    image: dpage/pgadmin4
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: root
    ports:
      - "5050:80"
    networks:
      - db-network
    
secrets:
  JwtSettings__SigningKey:
    file: ./MyBuyingList/local/secrets/JwtSettings__SigningKey
    
networks:
  db-network:
    driver: bridge
    
volumes:
  postgres_data: