version: '3.4'

# This is a production-ready docker compose file.
# It's intended to be used in Docker Swarm mode.
services:
  api:
    image: ghcr.io/marcellusfarias/dotnet-webapi-template:latest
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/fullchain.pem
      - ASPNETCORE_Kestrel__Certificates__Default__KeyPath=/https/privkey.pem
    volumes: 
      - /etc/letsencrypt/live/yourdomain.com:/https:ro
    secrets:
      - JwtSettings__SigningKey
      - ConnectionStrings__DefaultConnection
      - AdminSettings__Password
      - AdminSettings__Email

secrets:
  JwtSettings__SigningKey:
    external: true
  ConnectionStrings__DefaultConnection:
    external: true
  AdminSettings__Password:
    external: true
  AdminSettings__Email:
    external: true